<!-- footer section -->
<footer class="parallax-section">
    <div class="container">
        <div class="col-md-12 col-sm-12">
            <p style="color: white; margin-bottom:0px;">Copyright © yonkotv</p>
                <p style="font-size: 13px;">Designed by Seung Hyun Kim | Ji Hyun Kim | Gi Beom Hong </p>
            <!--| Design: <a rel="nofollow" href="http://www.tooplate.com" target="_parent">Tooplate</a></p>-->
        </div>
    </div>
</footer>