<!-- footer section -->
<footer class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                <h2 class="heading">Contact Info.</h2>
                <div class="ph">
                    <p><i class="fa fa-phone"></i> Phone</p>
                    <h4 style="text-align: inherit; color:white;">010-9082-2272 [ 대표 정 재 원 ]</h4>
                </div>
                <div class="address">
                    <p><i class="fa fa-map-marker"></i> Our Location</p>
                    <h4 style="text-align: inherit; color:white;">서울특별시 마포구 상암동 1605 누리꿈스퀘어, Seoul, KOREA</h4>
                </div>
            </div>
            <!--<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">-->
                <!--<h2 class="heading">Open Hours</h2>-->
                <!--<p>Sunday <span>10:30 AM - 10:00 PM</span></p>-->
                <!--<p>Mon-Fri <span>9:00 AM - 8:00 PM</span></p>-->
                <!--<p>Saturday <span>11:30 AM - 10:00 PM</span></p>-->
            <!--</div>-->
            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                <h2 class="heading">Follow Us</h2>
                <ul class="social-icon">
                    <li><a href="https://www.facebook.com/yonkotv/?fref=ts" class="fa fa-facebook wow bounceIn" data-wow-delay="0.3s" target="_blank"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCelPbnoAuzgRDFJAsJ4Du7A" class="fa fa-youtube-play wow bounceIn" data-wow-delay="0.6s" target="_blank"></a></li>
                    <li><a href="https://www.instagram.com/yonkotv/" class="fa fa-instagram wow bounceIn" data-wow-delay="0.9s" target="_blank"></a></li>
                    <!--<li><a href="#" class="fa fa-dribbble wow bounceIn" data-wow-delay="0.9s"></a></li>-->
                    <!--<li><a href="#" class="fa fa-github wow bounceIn" data-wow-delay="0.9s"></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- copyright section -->
<section id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3>연고티비</h3>
                <p style="color: #5bb6ff;">Copyright © 연고티비<br>
                     Designed by Seung Hyun Kim | Ji Hyun Kim | Gi Beom Hong </p>
                <!--| Design: <a rel="nofollow" href="http://www.tooplate.com" target="_parent">Tooplate</a></p>-->
            </div>
        </div>
    </div>
</section>