
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>연고티비 _ 4년</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="css/nivo-lightbox.css">-->
    <!--<link rel="stylesheet" href="css/nivo_themes/default/default.css">-->
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="css/GiBeom.css">-->
    <link rel="stylesheet" href="css/contents.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>

<% include ../public/common/header %>






<!--<section id="home" style="background: url('images/4year/4year_bg.png') 50% 0 repeat-y fixed;">-->
    <!--<div class="container">-->
    <!--</div>-->
<!--</section>-->

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative; top:51px">

    <!--페이지-->
    <ol class="carousel-indicators">
        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    </ol>
    <!--페이지-->

    <div class="carousel-inner">
        <!--슬라이드1-->
        <!--<div class="item active">-->
            <!--<img src="images/4year/4year_bg2.jpg" style="width:100%; height:auto" alt="First slide">-->
            <!--<div class="container">-->
                <!--<div class="carousel-caption" style="height:auto">-->
                    <!--&lt;!&ndash;<h1>가치 있는 CONTENTS, 꿈 꾸는 내일!</h1>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p> 연고 TV </p>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--슬라이드1-->
    </div>
</div>

<!--<section id="contents" class="parallax-section">-->
    <!--<div class="container" style="margin-left: 5px;">-->
        <!--<h3 style="text-align: left; vertical-align: middle; font-size : 50px;">-->
        <!--<br>4년<br>-->
        <!--<h3>-->
    <!--</div>-->
    <!--<div class="container" style="margin-left: 5px; float: left;">-->
            <!--<h3 style="text-align: left; vertical-align: middle; font-size : 20px; margin-top : 1px;">-->
                <!--당신의 후회없는 4년을 위한<br><br>-->
                <!--솔직담백 대학교 학과 이야기-->
            <!--</h3>-->
    <!--</div>-->
<!--</section>-->


<section id="gallery" class="parallax-section">
    <div class="container">
        <div>
            <h1 style="font-family:'BM JUA_OTF';text-align: left; vertical-align: middle; font-size : 30px; margin-top : 1px; margin-left:16px;">
                4년 이란~
            </h1>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <img src="images/4year/4y_crowdy.png" style="padding-left: 0px; align-items: center;">
            </div>
            <!--<h1 style="font-family:'BM JUA_OTF';text-align: left; vertical-align: middle; font-size : 30px; margin-top : 1px;">-->
                <!--연고티비 추천 영상-->
            <!--</h1>-->
        </div>
            <div>
                <h1 style="font-family:'BM JUA_OTF';text-align: left; vertical-align: middle; font-size : 30px; margin-top : 1px; margin-left:16px;">
                    연고티비 추천 영상
                </h1>
            </div>

            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                            <a href="https://www.youtube.com/watch?v=716zTAqUwhA&index=20&list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/1.png" alt="gallery img"></a>
                            <div>
                                <h3>산업공학과 교양편</h3>
                                <span>#연세대_정산공 &nbsp; #고려대_산공</span>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/0TidqJHixV0?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/2.png" alt="gallery img"></a>
                        <div>
                            <h3>국어국문학과 요약편</h3>
                            <span>#연세대_국어국문 &nbsp; #고려대_국어국문</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/hBVVdvYrC8w?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/3.png" alt="gallery img"></a>
                        <div>
                            <h3>체육교육과 요약편</h3>
                            <span>#연세대_체교 &nbsp; #고려대_체교</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/Nzzat2bSk8g?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/4.png" alt="gallery img"></a>
                        <div>
                            <h3>심리학과 요약편</h3>
                            <span>#연세대_심리학과 &nbsp; #고려대_심리학과</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<% include ../public/common/footer %>


<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<!--<script src="test_js/nivo-lightbox.min.js"></script>-->
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>

<script>
    function login_check(){
        alert("로그인이 필요합니다!");
        location.href="./login.php";
    }
</script>

</body>
</html>