
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>연고티비 _ 4년</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="css/nivo-lightbox.css">-->
    <!--<link rel="stylesheet" href="css/nivo_themes/default/default.css">-->
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="css/GiBeom.css">-->
    <link rel="stylesheet" href="css/contents.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>

<% include ../public/common/header %>






<!--<section id="home" style="background: url('images/4year/4year_bg.png') 50% 0 repeat-y fixed;">-->
    <!--<div class="container">-->
    <!--</div>-->
<!--</section>-->

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative; top:51px">

    <!--페이지-->
    <ol class="carousel-indicators">
        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    </ol>
    <!--페이지-->

    <div class="carousel-inner">
        <!--슬라이드1-->
        <!--<div class="item active">-->
            <!--<img src="images/4year/4year_bg2.jpg" style="width:100%; height:auto" alt="First slide">-->
            <!--<div class="container">-->
                <!--<div class="carousel-caption" style="height:auto">-->
                    <!--&lt;!&ndash;<h1>가치 있는 CONTENTS, 꿈 꾸는 내일!</h1>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p> 연고 TV </p>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--슬라이드1-->
    </div>
</div>

<section id="gallery" class="parallax-section">
    <div class="container">
        <div>
            <h1 style="font-family:'Nanum Gothic';text-align: left; vertical-align: middle; font-size : 30px; margin-top : 1px; margin-left:16px;">
                [ 4년 ]
            </h1>
            <h4 style="color: grey; text-align: left; padding-left: 20px;" >
                '4년'은 고등학생 및 수험생들에게 학과를 소개하는 컨텐츠입니다. 실제로 많은 수의 학생들이<br>
                단순한 입시의 결과만을 따라 대학에 입학하고 있고, 이는 연세대, 고려대 학생들도 마찬가지입니다.<br>
                그러한 학생들은 본인의 적성을 고려 하지 않아 입학 후에 많은 고민을 겪고 방황하는 경우가 많습니다.<br>
                4년은 대학 생활 4년을 후회로 보내는 후배들이 생기지 않게 하기 위해 학과에 대한 실질적인 정보를<br>
                고등학생의 눈높이에서 전달합니다. 현재 고려대학교와 연세대학교에 존재하는 30여개의 학과에 대한<br>
                소개를 마쳤고, 30만명의 학생들이 정보를 얻어갔습니다. 하지만 처음이다보니 부족한 점이 많았습니다.<br>
                그래서 2017년부터 시즌2를 시작하여, 시즌1에서 다루지 못했던 학과와 설명이 부족했던 학과를<br>
                중점적으로 제작할 예정입니다.
            </h4>

        </div>

        <!--<div class="row">-->
            <!--<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">-->
                <!--<img src="images/4year/4y_crowdy.png" style="padding-left: 0px; align-items: center;">-->
            <!--</div>-->
        <!--</div>-->
            <div>
                <br>
                <br>
                <h1 style="font-family:'Nanum Gothic';text-align: left; vertical-align: middle; font-size : 20px; margin-top : 1px; margin-left:16px;">
                    연고티비 추천 영상
                </h1>
            </div>

            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                            <a href="https://www.youtube.com/watch?v=716zTAqUwhA&index=20&list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/1.png" alt="gallery img"></a>
                            <div>
                                <h3>산업공학과 교양편</h3>
                                <span>#연세대_정산공 &nbsp; #고려대_산공</span>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/0TidqJHixV0?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/20.png" alt="gallery img"></a>
                        <div>
                            <h3>언론홍보영상학부 요약편</h3>
                            <span>#연세대_언홍영 &nbsp; #고려대_미디어</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/hBVVdvYrC8w?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/23.png" alt="gallery img"></a>
                        <div>
                            <h3>간호학과 요약편</h3>
                            <span>#연세대_간호 &nbsp; #고려대_간호</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/Nzzat2bSk8g?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/27.png" alt="gallery img"></a>
                        <div>
                            <h3>의예과 요약편</h3>
                            <sp과an>#연세대_의예과 &nbsp; #고려대_의예</sp과an>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<% include ../public/common/footer %>


<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<!--<script src="test_js/nivo-lightbox.min.js"></script>-->
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>

<script>
    function login_check(){
        alert("로그인이 필요합니다!");
        location.href="./login.php";
    }
</script>

</body>
</html>