
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>연고티비 _ 4년</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>
    <!--

    Template 2076 Zentro

    http://www.tooplate.com/view/2076-zentro


    -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <!--<link rel="stylesheet" href="../src/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="css/nivo-lightbox.css">-->
    <!--<link rel="stylesheet" href="css/nivo_themes/default/default.css">-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/GiBeom.css">


    <link rel="stylesheet" href="css/contents.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>

<% include ../public/common/header %>






<!--<section id="home" style="background: url('images/4year/4year_bg.png') 50% 0 repeat-y fixed;">-->
    <!--<div class="container">-->
    <!--</div>-->
<!--</section>-->

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative; top:51px">

    <!--페이지-->
    <ol class="carousel-indicators">
        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    </ol>
    <!--페이지-->

    <div class="carousel-inner">
        <!--슬라이드1-->
        <div class="item active">
            <img src="images/4year/4year_bg2.jpg" style="width:100%; height:auto" alt="First slide">
            <div class="container">
                <div class="carousel-caption" style="height:auto">
                    <!--<h1>가치 있는 CONTENTS, 꿈 꾸는 내일!</h1>-->
                    <!--<p> 연고 TV </p>-->
                </div>
            </div>
        </div>
        <!--슬라이드1-->
    </div>
</div>

<!--<section id="contents" class="parallax-section">-->
    <!--<div class="container" style="margin-left: 5px;">-->
        <!--<h3 style="text-align: left; vertical-align: middle; font-size : 50px;">-->
        <!--<br>4년<br>-->
        <!--<h3>-->
    <!--</div>-->
    <!--<div class="container" style="margin-left: 5px; float: left;">-->
            <!--<h3 style="text-align: left; vertical-align: middle; font-size : 20px; margin-top : 1px;">-->
                <!--당신의 후회없는 4년을 위한<br><br>-->
                <!--솔직담백 대학교 학과 이야기-->
            <!--</h3>-->
    <!--</div>-->
<!--</section>-->


<section id="gallery" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center" style="margin-left: 0px;">
                <h3 style="text-align: left; vertical-align: middle; font-size : 70px; width:100%; padding-top: 10px; font-weight: normal;">
                <br>4년
                    <span style="font-size:20px; line-height: initial;">당신의 후회없는 4년을 위한 솔직담백 대학교 학과 이야기</span>
                </h3>
            </div>

            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <h1 class="heading">Video</h1>
                <hr>
            </div>



            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                            <a href="https://www.youtube.com/watch?v=716zTAqUwhA&index=20&list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/1.png" alt="gallery img"></a>
                            <div>
                                <h3>산업공학과 교양편</h3>
                                <span>#연세대_정산공 &nbsp; #고려대_산공</span>
                            </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/e3Dpi_y8lhY?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/5.png" alt="gallery img"></a>
                        <div>
                            <h3>건축(공)학과 요약편</h3>
                            <span>#연세대_건축 &nbsp; #고려대_건축</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/FuO46AqAKxA?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/9.png" alt="gallery img"></a>
                        <div>
                            <h3>사학과 요약편</h3>
                            <span>#연세대_사학과 &nbsp; #고려대_사학과</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/FS4oqBv_Ws0?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/13.png" alt="gallery img"></a>
                        <div>
                            <h3>신소재공학과 요약편</h3>
                            <span>#연세대_신소재 &nbsp; #고려대_신소재</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/MTFkOzaV1Mk?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/17.png" alt="gallery img"></a>
                        <div>
                            <h3>대기&천문학과 요약편</h3>
                            <span>#연세대_대기과학 &nbsp; #고려대_천문우주</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/611xx_0tqts?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/21.png" alt="gallery img"></a>
                        <div>
                            <h3>중어중문학과 요약편</h3>
                            <span>#연세대_중어중문 &nbsp; #고려대_중어중문</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://www.youtube.com/watch?v=96UtKYxdsbc" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/25.png" alt="gallery img"></a>
                        <div>
                            <h3>식품공학과 요약편</h3>
                            <span>#연세대_식영과 &nbsp; #고려대_식품공</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://www.youtube.com/watch?v=13CkURb0B8c&list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT&index=30" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/29.png" alt="gallery img"></a>
                        <div>
                            <h3>토목공학과 요약편</h3>
                            <span>#연세대_사환시 &nbsp; #고려대_건사환</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/0TidqJHixV0?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/2.png" alt="gallery img"></a>
                        <div>
                            <h3>국어국문학과 요약편</h3>
                            <span>#연세대_국어국문 &nbsp; #고려대_국어국문</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/-8mjotLwzAo?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/6.png" alt="gallery img"></a>
                        <div>
                            <h3>경영학과 요약편</h3>
                            <span>#연세대_경영학과 &nbsp; #고려대_경영학과</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/oipWYlcDEG0?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/10.png" alt="gallery img"></a>
                        <div>
                            <h3>기계공학과 요약편</h3>
                            <span>#연세대_기계 &nbsp; #고려대_기계</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/E8jFTHyDh5M?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/14.png" alt="gallery img"></a>
                        <div>
                            <h3>경제학과 요약편</h3>
                            <span>#연세대_경제학과 &nbsp; #고려대_경제학과</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/rPREd1W1YQE?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/18.png" alt="gallery img"></a>
                        <div>
                            <h3>화공생명공학과 요약편</h3>
                            <span>#연세대_화생공 &nbsp; #고려대_화생공</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/NzdgZ3L1POE?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/22.png" alt="gallery img"></a>
                        <div>
                            <h3>생명공학과 요약편</h3>
                            <span>#연세대_생명공학 &nbsp; #고려대_생명공학</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://www.youtube.com/watch?v=7JclQOsjDgI&list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/26.png" alt="gallery img"></a>
                        <div>
                            <h3>디자인과 요약편</h3>
                            <span>#연세대_생디 &nbsp; #고려대_디자인조형</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://www.youtube.com/watch?v=va9g3SLAXyA&list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/30.png" alt="gallery img"></a>
                        <div>
                            <h3>국제대 요약편</h3>
                            <span>#연세대_UD &nbsp; #고려대_국제학부</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/hBVVdvYrC8w?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/3.png" alt="gallery img"></a>
                        <div>
                            <h3>체육교육과 요약편</h3>
                            <span>#연세대_체교 &nbsp; #고려대_체교</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/fY1Gt0WE4Cs?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/7.png" alt="gallery img"></a>
                        <div>
                            <h3>전기전자공학과 요약편</h3>
                            <span>#연세대_전전 &nbsp; #고려대_전전</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/u0B2FbmopZs?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/11.png" alt="gallery img"></a>
                        <div>
                            <h3>정치외교학과 요약편</h3>
                            <span>#연세대_정외과 &nbsp; #고려대_정외과</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/SGYhuDRHg9w?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/15.png" alt="gallery img"></a>
                        <div>
                            <h3>영어영문학과 요약편</h3>
                            <span>#연세대_영어영문 &nbsp; #고려대_영어영문</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/j2WbheIk2vo?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/19.png" alt="gallery img"></a>
                        <div>
                            <h3>컴퓨터과학과 요약편</h3>
                            <span>#연세대_컴과 &nbsp; #고려대_컴공</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/eExudhJXFTo?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/23.png" alt="gallery img"></a>
                        <div>
                            <h3>간호학과 요약편</h3>
                            <span>#연세대_간호학과 &nbsp; #고려대_간호학과</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://www.youtube.com/watch?v=RHQ3cvEgIuc&index=27&list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/27.png" alt="gallery img"></a>
                        <div>
                            <h3>의예과 요약편</h3>
                            <span>#연세대_의예과 &nbsp; #고려대_의예과</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/Nzzat2bSk8g?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/4.png" alt="gallery img"></a>
                        <div>
                            <h3>심리학과 요약편</h3>
                            <span>#연세대_심리학과 &nbsp; #고려대_심리학과</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/ZGlpATD-wis?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/8.png" alt="gallery img"></a>
                        <div>
                            <h3>수학과 요약편</h3>
                            <span>#연세대_수학과 &nbsp; #고려대_수학과</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/Yj5p3ROhlYY?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/12.png" alt="gallery img"></a>
                        <div>
                            <h3>교육학과 요약편</h3>
                            <span>#연세대_교육학과 &nbsp; #고려대_교육학과</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/8NvhnqGXMhU?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/16.png" alt="gallery img"></a>
                        <div>
                            <h3>행정학과 요약편</h3>
                            <span>#연세대_행정학과 &nbsp; #고려대_행정학과</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/x_fgcw9AWYY?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/20.png" alt="gallery img"></a>
                        <div>
                            <h3>미디어&언홍영 요약편</h3>
                            <span>#연세대_언홍영 &nbsp; #고려대_미디어</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://youtu.be/b6fySmKfYns?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/24.png" alt="gallery img"></a>
                        <div>
                            <h3>철학과 요약편</h3>
                            <span>#연세대_철학과 &nbsp; #고려대_철학과</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://www.youtube.com/watch?v=_eQFg6g_xoI&list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/4year/28.png" alt="gallery img"></a>
                        <div>
                            <h3>통계학과 요약편</h3>
                            <span>#연세대_응통 &nbsp; #고려대_통계</span>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

</section>


<!-- copyright section -->
<section id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3>연고티비</h3>
                <p style="color: #5bb6ff;">Copyright © Ki Beom Hong &  Ji Hyun Kim
                    | Design: Seun Hyun Kim </p>
                <!--| Design: <a rel="nofollow" href="http://www.tooplate.com" target="_parent">Tooplate</a></p>-->
            </div>

        </div>
    </div>
</section>

<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<!--<script src="test_js/nivo-lightbox.min.js"></script>-->
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>

<script>
    function login_check(){
        alert("로그인이 필요합니다!");
        location.href="./login.php";
    }
</script>

</body>
</html>