
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Branded Contents</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="css/nivo-lightbox.css">-->
    <!--<link rel="stylesheet" href="css/nivo_themes/default/default.css">-->
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="css/GiBeom.css">-->
    <link rel="stylesheet" href="css/contents.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>

<% include ../public/common/header %>






<!--<section id="home" style="background: url('images/4year/4year_bg.png') 50% 0 repeat-y fixed;">-->
<!--<div class="container">-->
<!--</div>-->
<!--</section>-->

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative; top:51px">

    <!--페이지-->
    <ol class="carousel-indicators">
        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    </ol>
    <!--페이지-->

    <div class="carousel-inner">
        <!--슬라이드1-->
        <!--<div class="item active">-->
        <!--<img src="images/4year/4year_bg2.jpg" style="width:100%; height:auto" alt="First slide">-->
        <!--<div class="container">-->
        <!--<div class="carousel-caption" style="height:auto">-->
        <!--&lt;!&ndash;<h1>가치 있는 CONTENTS, 꿈 꾸는 내일!</h1>&ndash;&gt;-->
        <!--&lt;!&ndash;<p> 연고 TV </p>&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--슬라이드1-->
    </div>
</div>

<section id="gallery" class="parallax-section">
    <div class="container">
        <div>
            <h1 style="font-family:'Nanum Gothic';text-align: left; vertical-align: middle; font-size : 30px; margin-top : 1px; margin-left:16px;">
                연고티비 X AD
            </h1>
            <h4 style="color: grey; text-align: left; padding-left: 20px" >
                연고티비는 다양한 회사와 협력하여 컨텐츠를 제작하고 있습니다.<br>
            </h4>
        </div>

        <div>
            <br>
            <br>
            <h1 style="font-family:'Nanum Gothic';text-align: left; vertical-align: middle; font-size : 20px; margin-top : 1px; margin-left:16px;">
                List
            </h1>
        </div>

        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://www.youtube.com/watch?v=AyRj8sEY9zI&t=525s" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/brand/oho.png" alt="gallery img"></a>
                    <div>
                        <h3>연고티비 X Oho</h3>
                        <span>#오호 #Oho #짐정리</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://www.youtube.com/watch?v=BGn2ejWtihc" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/brand/jonglo.png" alt="gallery img"></a>
                    <div>
                        <h3>연고티비 X 종로학원</h3>
                        <span>#종로학원</span>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://www.youtube.com/watch?v=zPdDvudVBmM&index=1&list=PLTIYaupvmVU64Dio0-YyvbqsJzAfjDIhZ" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/life/t2.png" alt="gallery img"></a>
                    <div>
                        <h3>연고투어 연세대편</h3>
                        <span>#송도 &nbsp; #CC</span>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!--
        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://www.youtube.com/watch?v=PwoLkfQ-SI4" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/life/3.png" alt="gallery img"></a>
                    <div>
                        <h3>고대 학식 체험</h3>
                        <span>#고려대 &nbsp; #학식</span>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
    </div>
    <div style="padding-top:50px; padding-bottom : 15px;">
        <a href="../origin"><i class="fa fa-th-list fa-1x wow bounceIn" aria-hidden="true"> Back to List </i></a>
    </div>
</section>


<% include ../public/common/footer %>


<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<!--<script src="test_js/nivo-lightbox.min.js"></script>-->
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>

<script>
    function login_check(){
        alert("로그인이 필요합니다!");
        location.href="./login.php";
    }
</script>

</body>
</html>