
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>연고티비 - 채널</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nivo-lightbox.css">
    <link rel="stylesheet" href="css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

</head>





<body>

<% include ../public/common/header %>



<!-- gallery section -->
<section id="gallery" class="parallax-section">
    <div class="container">
        <!--채널-->

    </div>
</section>

<section id="gallery" class="parallax-section" style="padding-top: 1px;">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <h1 class="heading">채널</h1>
                <hr>
            </div>
        </div>
    </div>

</section>

<section id="gallery" class="parallax-section" style="padding-top: 1px;">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                연고티비 youtube 구독자 수 : <%=sub_cnt %> 명<br><br>
                연고티비 youtube 조회수 : <%=view_cnt %> 회<br><br>
                연고티비 youtube 동영상 수 : <%=video_cnt %> 개<br><br>
            </div>
            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">

            </div>

            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
            </div>
        </div>

</section>


<% include ../public/common/footer %>

<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<!--<script src="test_js/nivo-lightbox.min.js"></script>-->
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>


<script type="text/javascript">
    var sub_cnt =  <%-JSON.stringify(sub_cnt)%>;
    var view_cnt =  <%-JSON.stringify(view_cnt)%>;
    var video_cnt =  <%-JSON.stringify(video_cnt)%>;
</script>

</body>
</html>