
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Contact Us</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>
    <!--

    Template 2076 Zentro

    http://www.tooplate.com/view/2076-zentro


    -->
    <!--<style>-->
    <!--@media only screen and (min-width:768px) { a { padding-bottom:10px;}}-->
    <!--</style>-->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="css/nivo-lightbox.css">-->
    <!--<link rel="stylesheet" href="css/nivo_themes/default/default.css">-->
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="css/GiBeom.css">-->
    <!--<link rel="stylesheet" href="css/bootstrap-reponsive.css">-->
    <!--<link rel="stylesheet" href="css/bootstrap-reponsive.min.css">-->
    <!--<link rel="stylesheet" href="../src/css/bootstrap.min.css">-->

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <!--<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=gfJZL2Usm4tB_yWqTa3V"></script>-->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=KNFmQINpGTiVAtmBHQAi"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=_CetwgqCn46G3MivlaiO"></script>

    <link rel="stylesheet" href="lightbox/lity.css">

</head>
<body>

<% include ../public/common/header %>


<!-- contact section -->


<section id="contact" class="parallax-section">
    <div class="container">
        <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
            <h1 class="heading">CONTACT US</h1>
            <hr>
        </div>
        <div class="col-md-6 col-sm-3 wow fadeInUp" data-wow-delay="0.3s" style=" padding-top:70px;">
            <div id="map" style="width:100%;height:440px;"></div>
            <!--<span style="font-size: 10px;"><a href="http://map.naver.com/local/siteview.nhn?code=12064497"> 서울특별시 서대문구 연세로 50 | 연세대학교 공학원 창업지원단 </a>,</span>-->
            <!--<span style="font-size: 10px;"><a href="http://map.naver.com/local/siteview.nhn?code=37824867"> 서울특별시 동대문구 제기동 | 고려대학교 파이빌 </a> 에도 사무실이 있습니다.</span>-->

            <span style="font-size: 10px;"><a href="http://map.naver.com/local/siteview.nhn?code=12064497"> 연세대학교 공학원 창업지원단 </a>,</span>
            <span style="font-size: 10px;"><a href="http://map.naver.com/local/siteview.nhn?code=37824867"> 고려대학교 파이빌 </a> 에도 사무실이 있습니다.</span><br>
            <span style="font-size: 10px;">지도가 보이지 않으신다면 <a href="http://www.yonkotv.com/contact" style="color: red;"> www.yonkotv.com/contact</a> 로 접속해주세요 </span>
        </div>
        <div class="col-md-5 col-sm-4 wow fadeInUp" data-wow-delay="0.3s" style="padding-left: 30px; padding-right: 30px;">
            <h2 class="heading" style=" margin-top:25px;">ABOUT US</h2>

            <p><i class="fa fa-phone"></i> &nbsp;&nbsp;&nbsp;0507-1425-2272</p>
            <p><i class="fa fa-map-marker"></i> &nbsp;&nbsp;&nbsp; 서울특별시 마포구 상암동 1605 누리꿈스퀘어, Seoul, KOREA</p>

            <h2 class="heading">FOLLOW US</h2>
            <ul class="social-icon">
                <li><a href="https://www.facebook.com/yonkotv/?fref=ts" class="fa fa-facebook wow bounceIn" data-wow-delay="0.3s" target="_blank"></a></li>
                <span>연고티비의 다양한 소식을 받아보세요.</span>
                <br>
                <li><a href="https://www.youtube.com/channel/UCelPbnoAuzgRDFJAsJ4Du7A" class="fa fa-youtube-play wow bounceIn" data-wow-delay="0.6s" target="_blank"></a></li>
                <span>연고티비의 컨텐츠가 업로드됩니다.</span>
                <br>
                <li><a href="https://www.instagram.com/yonkotv/" class="fa fa-instagram wow bounceIn" data-wow-delay="0.9s" target="_blank"></a></li>
                <span>연고티비 팀원들의 일상을 만나보세요.</span>
                <br>
                <li><a href="http://blog.naver.com/yonkotv/" class="fa fa-bold wow bounceIn" data-wow-delay="0.9s" target="_blank"></a></li>
                <span>연고티비의 포스트을 읽어보세요.</span>
                <br>
                <!--<li><a href="#" class="fa fa-github wow bounceIn" data-wow-delay="0.9s"></a></li>-->
            </ul>

            <h2 class="heading">CONTACT US</h2>
            <p>
                광고 및 기타 문의는 <a href="mailto:company@yonkotv.com">company@yonkotv.com</a> 으로 보내주시기 바랍니다.
            </p>
        </div>
        <!--<h1> 여기에 follow us / main office (지도, 위치, 대표전화번호, 메일 (간단한 설명 + mail 기능), sub_office (위치)</h1>-->
    </div>
</section>


<% include ../public/common/footer %>

<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<script src="test_js/nivo-lightbox.min.js"></script>
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>


<!-- light box js -->
<script src="lightbox/jquery.js"></script>
<script src="lightbox/lity.js"></script>
<script src="lightbox/prism.js"></script>
<script>
    function contact(){
        alert("문의 접수가 완료되었습니다");
    }

</script>

<script>
    var mapOptions = {
        center: new naver.maps.LatLng(37.579119037, 126.8902940126),
        zoom: 10,
        zoomControl: true, //줌 컨트롤의 표시 여부
        zoomControlOptions: { //줌 컨트롤의 옵션
            position: naver.maps.Position.TOP_RIGHT
        },
        disableKineticPan : false
    };

    var map = new naver.maps.Map('map', mapOptions);


    var HOME_PATH = window.HOME_PATH || '.';
    var position = new naver.maps.LatLng(37.579119037, 126.8902940126);

    var markerOptions = {
        position: position,
        map: map,
        icon: {
            url: HOME_PATH +'/img/example/pin_default.png',
            size: new naver.maps.Size(22, 35),
            origin: new naver.maps.Point(0, 0),
            anchor: new naver.maps.Point(11, 35)
        },
        shadow: {
            url: HOME_PATH +'/img/example/shadow-pin_default.png',
            size: new naver.maps.Size(40, 35),
            origin: new naver.maps.Point(0, 0),
            anchor: new naver.maps.Point(11, 35)
        }
    };

    var marker = new naver.maps.Marker(markerOptions);

//    var contentString = [
//        '<div class="iw_inner">',
//        '   <h3>연고티비</h3>',
//        '   <p>서울 마포구 상암동 1605 누리꿈스퀘어 <br>연구개발타워 6층 혁신벤처센터 606호<br />',
//        '       <img src="'+ HOME_PATH +'/images/yglogo.png" style="width:auto; height: auto;" alt="연고티비" class="thumb" /><br />',
//        '       연락처 : 010-9082-2272<br />',
//        '       <a href="http://www.yonkotv.com" target="_blank">www.yonkotv.com</a>',
//        '   </p>',
//        '</div>'
//    ].join('');

//    var infowindow = new naver.maps.InfoWindow({
//        content: contentString
//    });

    naver.maps.Event.addListener(marker, "click", function(e) {
        if (infowindow.getMap()) {
            infowindow.close();
        } else {
            infowindow.open(map, marker);
        }
    });

    infowindow.open(map, marker);

</script>

</body>
</html>