
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Contact Us</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>
    <!--

    Template 2076 Zentro

    http://www.tooplate.com/view/2076-zentro


    -->
    <!--<style>-->
    <!--@media only screen and (min-width:768px) { a { padding-bottom:10px;}}-->
    <!--</style>-->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="css/nivo-lightbox.css">-->
    <!--<link rel="stylesheet" href="css/nivo_themes/default/default.css">-->
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="css/GiBeom.css">-->
    <!--<link rel="stylesheet" href="css/bootstrap-reponsive.css">-->
    <!--<link rel="stylesheet" href="css/bootstrap-reponsive.min.css">-->
    <!--<link rel="stylesheet" href="../src/css/bootstrap.min.css">-->

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="lightbox/lity.css">

</head>
<body>

<% include ../public/common/header %>


<!-- contact section -->


<section id="gallery" class="parallax-section">
    <div class="container">
        <h1> 여기에 follow us / main office (지도, 위치, 대표전화번호, 메일 (간단한 설명 + mail 기능), sub_office (위치)</h1>
    </div>
</section>


<% include ../public/common/footer %>

<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<script src="test_js/nivo-lightbox.min.js"></script>
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>


<!-- light box js -->
<script src="lightbox/jquery.js"></script>
<script src="lightbox/lity.js"></script>
<script src="lightbox/prism.js"></script>
<script>
    function contact(){
        alert("문의 접수가 완료되었습니다");
    }

</script>

</body>
</html>