
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Contact Us</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>
    <!--

    Template 2076 Zentro

    http://www.tooplate.com/view/2076-zentro


    -->
    <!--<style>-->
    <!--@media only screen and (min-width:768px) { a { padding-bottom:10px;}}-->
    <!--</style>-->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="css/nivo-lightbox.css">-->
    <!--<link rel="stylesheet" href="css/nivo_themes/default/default.css">-->
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="css/GiBeom.css">-->
    <!--<link rel="stylesheet" href="css/bootstrap-reponsive.css">-->
    <!--<link rel="stylesheet" href="css/bootstrap-reponsive.min.css">-->
    <!--<link rel="stylesheet" href="../src/css/bootstrap.min.css">-->

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=KNFmQINpGTiVAtmBHQAi"></script>

    <link rel="stylesheet" href="lightbox/lity.css">

</head>
<body>

<% include ../public/common/header %>


<!-- contact section -->


<section id="gallery" class="parallax-section">
    <div class="container">
        <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
            <h1 class="heading">Contact Us</h1>
            <hr>
        </div>
        <div class="col-md-6 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <!--<div id="map" style="width:100%;height:400px;"></div>-->
        </div>
        <div class="col-md-5 col-sm-4 wow fadeInUp" data-wow-delay="0.3s" style="padding-left: 30px; padding-right: 30px;">
            <h2 class="heading">Follow Us</h2>
            <ul class="social-icon">
                <li><a href="https://www.facebook.com/yonkotv/?fref=ts" class="fa fa-facebook wow bounceIn" data-wow-delay="0.3s" target="_blank"></a></li>
                <li><a href="https://www.youtube.com/channel/UCelPbnoAuzgRDFJAsJ4Du7A" class="fa fa-youtube-play wow bounceIn" data-wow-delay="0.6s" target="_blank"></a></li>
                <li><a href="https://www.instagram.com/yonkotv/" class="fa fa-instagram wow bounceIn" data-wow-delay="0.9s" target="_blank"></a></li>
                <li><a href="http://blog.naver.com/yonkotv/" class="fa fa-bold wow bounceIn" data-wow-delay="0.9s" target="_blank"></a></li>
                <!--<li><a href="#" class="fa fa-github wow bounceIn" data-wow-delay="0.9s"></a></li>-->
            </ul>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1> 여기에 follow us / main office (지도, 위치, 대표전화번호, 메일 (간단한 설명 + mail 기능), sub_office (위치)</h1>
    </div>
</section>


<% include ../public/common/footer %>

<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<script src="test_js/nivo-lightbox.min.js"></script>
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>


<!-- light box js -->
<script src="lightbox/jquery.js"></script>
<script src="lightbox/lity.js"></script>
<script src="lightbox/prism.js"></script>
<script>
    function contact(){
        alert("문의 접수가 완료되었습니다");
    }

</script>

<script>
    var mapOptions = {
        center: new naver.maps.LatLng(37.579119037, 126.8902940126),
        zoom: 10,
        zoomControl: true, //줌 컨트롤의 표시 여부
        zoomControlOptions: { //줌 컨트롤의 옵션
            position: naver.maps.Position.TOP_RIGHT
        },
        disableKineticPan : false
    };

    var map = new naver.maps.Map('map', mapOptions);


    var HOME_PATH = window.HOME_PATH || '.';
    var position = new naver.maps.LatLng(37.579119037, 126.8902940126);

    var markerOptions = {
        position: position,
        map: map,
        icon: {
            url: HOME_PATH +'/img/example/pin_default.png',
            size: new naver.maps.Size(22, 35),
            origin: new naver.maps.Point(0, 0),
            anchor: new naver.maps.Point(11, 35)
        },
        shadow: {
            url: HOME_PATH +'/img/example/shadow-pin_default.png',
            size: new naver.maps.Size(40, 35),
            origin: new naver.maps.Point(0, 0),
            anchor: new naver.maps.Point(11, 35)
        }
    };

    var marker = new naver.maps.Marker(markerOptions);

    var contentString = [
        '<div class="iw_inner">',
        '   <h3>연고티비</h3>',
        '   <p>서울 마포구 상암동 1605 누리꿈스퀘어 <br>연구개발타워 6층 혁신벤처센터 606호<br />',
        '       <img src="'+ HOME_PATH +'/images/yglogo.png" style="width:auto; height: auto;" alt="연고티비" class="thumb" /><br />',
        '       연락처 : 010-9082-2272<br />',
        '       <a href="http://www.yonkotv.com" target="_blank">www.yonkotv.com</a>',
        '   </p>',
        '</div>'
    ].join('');

    var infowindow = new naver.maps.InfoWindow({
        content: contentString
    });

    naver.maps.Event.addListener(marker, "click", function(e) {
        if (infowindow.getMap()) {
            infowindow.close();
        } else {
            infowindow.open(map, marker);
        }
    });

    infowindow.open(map, marker);

</script>

</body>
</html>