<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VOD 등록</title>
</head>
<body>

    <form action="/enroll_vod" method="post">
        <input name="title" type="text" class="form-control" id="title" placeholder="title">
        <input name="tag" type="text" class="form-control" id="tag" placeholder="tag">
        <input name="link" type="text" class="form-control" id="link" placeholder="link">
        <input name="cover" type="text" class="form-control" id="cover" placeholder="cover">
        <textarea name="explan" rows="8" class="form-control" id="explan" placeholder="explan"></textarea>
        <input name="submit" type="submit" class="form-control" id="submit" value="Submit"/>
    </form>

</body>
</html>