
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>연고티비 _ 이벤트</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="css/nivo-lightbox.css">-->
    <!--<link rel="stylesheet" href="css/nivo_themes/default/default.css">-->
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="css/GiBeom.css">-->
    <link rel="stylesheet" href="css/contents.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>

<% include ../public/common/header %>






<!--<section id="home" style="background: url('images/4year/4year_bg.png') 50% 0 repeat-y fixed;">-->
<!--<div class="container">-->
<!--</div>-->
<!--</section>-->

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative; top:51px">

    <!--페이지-->
    <ol class="carousel-indicators">
        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    </ol>
    <!--페이지-->

    <div class="carousel-inner">
        <!--슬라이드1-->
        <!--<div class="item active">-->
        <!--<img src="images/4year/4year_bg2.jpg" style="width:100%; height:auto" alt="First slide">-->
        <!--<div class="container">-->
        <!--<div class="carousel-caption" style="height:auto">-->
        <!--&lt;!&ndash;<h1>가치 있는 CONTENTS, 꿈 꾸는 내일!</h1>&ndash;&gt;-->
        <!--&lt;!&ndash;<p> 연고 TV </p>&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--슬라이드1-->
    </div>
</div>

<section id="gallery" class="parallax-section">
    <div class="container">
        <div>
            <h1 style="font-family:'Nanum Gothic';text-align: left; vertical-align: middle; font-size : 30px; margin-top : 1px; margin-left:16px;">
                [ 이벤트 ]
            </h1>
            <h4 style="color: grey; text-align: left; padding-left: 20px" >
                연고티비는 다양한 컨텐츠 제작 외에도 구독자 및 팬들을 위한 이벤트를 지속적으로 개최하고 있습니다.<br>
                금번 고려대학교 논술고사 당일 구독자 중 시험 응시자에게 선물을 주고 응원해주기도 하였습니다.
            </h4>

        </div>

        <!--<div class="row">-->
        <!--<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">-->
        <!--<img src="images/4year/4y_crowdy.png" style="padding-left: 0px; align-items: center;">-->
        <!--</div>-->
        <!--</div>-->
        <div>
            <br>
            <br>
            <h1 style="font-family:'Nanum Gothic';text-align: left; vertical-align: middle; font-size : 20px; margin-top : 1px; margin-left:16px;">
                연고티비 추천 영상
            </h1>
        </div>

        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://www.youtube.com/watch?v=Qjbjlnr5jHE" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/event/e2.png" alt="gallery img"></a>
                    <div>
                        <h3>연고티비 연대 논술 가다!</h3>
                        <span>#연세대&nbsp; #논술</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://www.youtube.com/watch?v=XEA0Bi0fnVE&t=1s" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/event/e1.png" alt="gallery img"></a>
                    <div>
                        <h3>연고티비 고대 논술 가다!</h3>
                        <span>#고려 &nbsp; #논술</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://www.youtube.com/watch?v=EgxHBAjUANE" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/event/e3.png" alt="gallery img"></a>
                    <div>
                        <h3>연고대 시험기간 기습공격</h3>
                        <span>#ABCDF &nbsp; #4.3</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://www.youtube.com/watch?v=klTK1b1NAls" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/event/sat.png" alt="gallery img"></a>
                    <div>
                        <h3>연고티비 불수능에 도전하다!</h3>
                        <sp과an>#2017 &nbsp; #불수능</sp과an>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>


<% include ../public/common/footer %>


<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<!--<script src="test_js/nivo-lightbox.min.js"></script>-->
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>

<script>
    function login_check(){
        alert("로그인이 필요합니다!");
        location.href="./login.php";
    }
</script>

</body>
</html>