
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>연고티비 _ 연고라이프</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="css/nivo-lightbox.css">-->
    <!--<link rel="stylesheet" href="css/nivo_themes/default/default.css">-->
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="css/GiBeom.css">-->
    <link rel="stylesheet" href="css/contents.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>

<% include ../public/common/header %>






<!--<section id="home" style="background: url('images/4year/4year_bg.png') 50% 0 repeat-y fixed;">-->
<!--<div class="container">-->
<!--</div>-->
<!--</section>-->

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative; top:51px">

    <!--페이지-->
    <ol class="carousel-indicators">
        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    </ol>
    <!--페이지-->

    <div class="carousel-inner">
        <!--슬라이드1-->
        <!--<div class="item active">-->
        <!--<img src="images/4year/4year_bg2.jpg" style="width:100%; height:auto" alt="First slide">-->
        <!--<div class="container">-->
        <!--<div class="carousel-caption" style="height:auto">-->
        <!--&lt;!&ndash;<h1>가치 있는 CONTENTS, 꿈 꾸는 내일!</h1>&ndash;&gt;-->
        <!--&lt;!&ndash;<p> 연고 TV </p>&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--슬라이드1-->
    </div>
</div>

<section id="gallery" class="parallax-section">
    <div class="container">
        <div>
            <h1 style="font-family:'Nanum Gothic';text-align: left; vertical-align: middle; font-size : 30px; margin-top : 1px; margin-left:16px;">
                [ 연고라이프 ]
            </h1>
            <h4 style="color: grey; text-align: left; padding-left: 20px" >
                연고라이프는 연고티비의 캠퍼스라이프를 재미있게 전달하는 컨텐츠입니다. 고등학생 및 수험생들이<br>
                궁금해하는 캠퍼스 모습이나, 정기전, 학식, 시험기간 등 다양한 것들을 소개하며 이를 지루하지 않고<br>
                재미있게 전달합니다. 학생들은 이를 통해 캠퍼스라이프를 간접적으로 체험할 수 있으며, 실제로 많은<br>
                시청 자들에게 동기 부여가 되고 있습니다. 연고티비는 앞으로도 고려대학교와 연세대학교에서만 누릴 수<br>
                있는 즐거운 대학생활들을 나름의 방식으로 컨텐츠화해 나갈 예정입니다.
            </h4>

        </div>

        <!--<div class="row">-->
        <!--<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">-->
        <!--<img src="images/4year/4y_crowdy.png" style="padding-left: 0px; align-items: center;">-->
        <!--</div>-->
        <!--</div>-->
        <div>
            <br>
            <br>
            <h1 style="font-family:'Nanum Gothic';text-align: left; vertical-align: middle; font-size : 20px; margin-top : 1px; margin-left:16px;">
                연고티비 추천 영상
            </h1>
        </div>

        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://www.youtube.com/watch?v=QSaxSLsrpKk" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/life/0.png" alt="gallery img"></a>
                    <div>
                        <h3>연고티비 팀원들의 일상</h3>
                        <span>#여니 &nbsp; #미스터연세</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://www.youtube.com/watch?v=tkQJuxv5ySw&list=PLTIYaupvmVU64Dio0-YyvbqsJzAfjDIhZ&index=6" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/life/t1.png" alt="gallery img"></a>
                    <div>
                        <h3>연고투어 고려대편</h3>
                        <span>#팀플 &nbsp; #사이다</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://www.youtube.com/watch?v=zPdDvudVBmM&index=1&list=PLTIYaupvmVU64Dio0-YyvbqsJzAfjDIhZ" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/life/t2.png" alt="gallery img"></a>
                    <div>
                        <h3>연고투어 연세대편</h3>
                        <span>#송도 &nbsp; #CC</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://www.youtube.com/watch?v=PwoLkfQ-SI4" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/life/3.png" alt="gallery img"></a>
                    <div>
                        <h3>고대 학식 체험</h3>
                        <span>#고려대 &nbsp; #학식</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div style="padding-top:50px; padding-bottom : 15px;">
        <a href="../origin"><i class="fa fa-th-list fa-1x wow bounceIn" aria-hidden="true"> Back to List </i></a>
    </div>
</section>


<% include ../public/common/footer %>


<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<!--<script src="test_js/nivo-lightbox.min.js"></script>-->
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>

<script>
    function login_check(){
        alert("로그인이 필요합니다!");
        location.href="./login.php";
    }
</script>

</body>
</html>