
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>연고티비</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>
    <!--

    Template 2076 Zentro

    http://www.tooplate.com/view/2076-zentro


    -->
    <!--<style>-->
        <!--@media only screen and (min-width:768px) { a { padding-bottom:10px;}}-->
    <!--</style>-->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="css/nivo-lightbox.css">-->
    <!--<link rel="stylesheet" href="css/nivo_themes/default/default.css">-->
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="css/GiBeom.css">-->
    <!--<link rel="stylesheet" href="css/bootstrap-reponsive.css">-->
    <!--<link rel="stylesheet" href="css/bootstrap-reponsive.min.css">-->
    <!--<link rel="stylesheet" href="../src/css/bootstrap.min.css">-->

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="test_js/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="test_js/bxslider/jquery.bxslider.css">

    <link rel="stylesheet" href="lightbox/lity.css">

</head>
<body>

<% include ../public/common/main_header %>


 <!--home section-->

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative;">

                <!--페이지-->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
                </ol>
                <!--페이지-->

                <div class="carousel-inner">
                    <!--슬라이드1-->
                    <div class="item active">
                        <img src="images/tempbg1.jpg" style="width:100%; height:auto" alt="First slide">
                        <!--1440x752-->
                        <div class="container">
                            <div class="carousel-caption" style="height:auto">
                                <!--<h1>가치 있는 CONTENTS, 꿈 꾸는 내일!</h1>-->
                                <!--<p> 연고 TV </p>-->
                            </div>
                        </div>
                    </div>
                    <!--슬라이드1-->

                    <!--슬라이드2-->
                    <div class="item">
                        <!--<a href="https://www.ycrowdy.com/cf/campaign/ue5zS17sMg" target="_blank"></a>-->
                        <img src="images/tempbg2.jpg" style="width:100%; height:auto; overflow:hidden" data-src="" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <!--<h1>가치 있는 CONTENTS, 꿈 꾸는 내일!</h1>-->
                                <!--<p> 연고 TV </p>-->
                            </div>
                        </div>
                    </div>
                    <!--슬라이드2-->

                    <!--슬라이드3-->
                    <!--<div class="item">-->
                        <!--<img src="images/tempbg1.jpg" style="width:100%; overflow:hidden;" data-src="" alt="Third slide">-->
                        <!--<div class="container">-->
                            <!--<div class="carousel-caption">-->
                                <!--&lt;!&ndash;<h1>가치 있는 CONTENTS, 꿈 꾸는 내일!</h1>&ndash;&gt;-->
                                <!--&lt;!&ndash;<p> 연고 TV </p>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--슬라이드3-->
                </div>

                <!--이전, 다음 버튼-->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>



<section id = "home" class="parallax-section" style="background: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <br><br><br>
                <h1  style="color: black ;">ABOUT US</h1>

                <h3 style="line-height:1.7;"> 연고티비는 연세대학교와 고려대학교 학생들이 함께 유익하고 건강한 컨텐츠를 만들어가는 채널입니다.<br>
                     컨텐츠들은 유튜브를 기반으로, 페이스북, 인스타그램, 네이버 블로그를 통해 제공되고 있습니다.
                <br>
                    교육적이면서 재미있는 가치를 추구하는 연고티비의 Edu-tainment 컨텐츠들은 <br>고등학생 및 수험생을 중심으로 시청자층을 확대해나가고 있습니다.<br>
                    연고티비의 다양한 Original Content들과 Native Ad를 포함한 Branded Content들을 만나보세요!
                </h3>
                <br>
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-md-4 col-sm-4 wow fadeInUp">
                        <img src="images/temp_ab1.jpg">
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp">
                        <img src="images/temp_ab2.jpg">
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp">
                        <img src="images/temp_ab2.jpg">
                    </div>
                </div>
                <h2  style="color: black ;">We Are 'No.1' Edu-tainment Media Channel</h2>
                <br>
        </div>
    </div>
</section>

<section id = "channel" class="parallax-section" style="background: #f0f0f0;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 wow fadeInUp" data-wow-delay="0.3s" style="padding-top: 20px;">
                <a href="https://www.youtube.com/channel/UCelPbnoAuzgRDFJAsJ4Du7A" target="_blank"><i class="fa fa-youtube fa-5x" aria-hidden="true"></i></a><br><br>
            </div>
            <div class="col-md-3 col-sm-4 wow fadeInUp" data-wow-delay="0.3s" style="padding-top: 40px;">
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col s12 m7">
                            <div>
                                <h3 style="font-family:'BM JUA_OTF';vertical-align: middle; font-size : 60px; margin-top : 1px; margin-left:16px;">
                                    <%=view_cnt %>
                                </h3>
                                <br>
                                <h2>TOTAL VIEWS</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 wow fadeInUp" data-wow-delay="0.3s" style="padding-top: 40px;">
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col s12 m7">
                            <div>
                                <h3 style="font-family:'BM JUA_OTF';vertical-align: middle; font-size : 60px; margin-top : 1px; margin-left:16px;">
                                    <%=sub_cnt %>
                                </h3>
                                <br>
                                <h2>TOTAL SUB</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 wow fadeInUp" data-wow-delay="0.3s" style="padding-top: 40px;">
                <div class="col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col s12 m7">
                            <div>
                                <h3 style="font-family:'BM JUA_OTF';vertical-align: middle; font-size : 60px; margin-top : 1px; margin-left:16px;">
                                    <%=video_cnt %>
                                </h3>
                                <br>
                                <h2>VIDEOS</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section id = "reply" class = "parallax-section">
    <div class="container">
        <div class="row">
            <h1  style="color: black ;">당신에게 '연고티비' 란?</h1>
            <br>
            <div class="slider2">
                <div class="slide">
                    <h2>보니따</h2>
                    <hr>
                    <br><br>
                    <h3>
                        와.... 정말 수고하셨어요!!! 수험생분들 모두 힘내서 대박났으면 좋겠네요❤ㅎㅎ 저도 일출 기운받고 가요~~☀️﻿
                    </h3>
                    <br><br><br>
                    <h4>
                        "[수능D-5] 수험생 여러분 힘내세요! | 연세대학교, 고려대학교 | 2017 수능 응원 | 연고티비" 편
                    </h4>
                </div>
                <div class="slide">
                    <div class="slide">
                        <h2>Siwon Lee</h2>
                        <hr>
                        <br><br>
                        <h3>
                            자기전에 영상 알림이 떠서 봤더니...!!! 저때 주신 선물 정말 잘쓰고 있습니다!!<br> 남은 기간 동안 마무리 잘해서 대학 꼭 붙겠습니다 선물 정말 감사하구요 연고티비 화이팅!!ㅎㅎ﻿
                        </h3>
                        <br><br><br>
                        <h4>
                            "[이벤트] 연대 수시 논술(16.10.08) 연고티비의 힘찬 응원! | 연세대학교, 고려대학교 | 연고티비" 편
                        </h4>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide">
                        <h2>이지영</h2>
                        <hr>
                        <br><br>
                        <h3>
                            엄청기다렸어요ㅠㅠ 고니언니는 오늘도 이쁘시고 정대표님 보면 왜 곰돌이 푸가 생각나는거죠ㅋㅋㅋㅋ<br>
                            이제 예비고1인데 고대목표로 열심히 공부하겠습니당❤ 연고티비보면서 열심히자극받고있어요😀<br>
                            좋은영상 감사해요:)﻿
                        </h3>
                        <br><br><br>
                        <h4>
                            "[연고대답] #16. 연고대 화장실에는 비데 있나요? 쾌적한가요? 오늘도 꿀잼 답변들을 보내드려요 | 연세대학교, 고려대학교 | 연고티비" 편
                        </h4>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide">
                        <h2>이나연</h2>
                        <hr>
                        <br><br>
                        <h3>
                            연세대..♡♡♡♡ 좋은 영상 감사합니다. 수험생인데 힘낼게요 ㅎㅎ﻿
                        </h3>
                        <br><br><br>
                        <h4>
                            "[수능 D-100] 연고대 선배 100명이 수험생을 응원합니다! | 수능 응원 | 연세대학교, 고려대학교 | 연고티비" 편
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id = "history" class="parallax-section">
    <h1>연혁</h1>
</section>

<section id = "partner" class = "parallax-section">
    <div class="container">
        <div class="row">
            <div class="owl-carousel owl-theme owl-loaded" data-items="4" data-pagination="no">
                <div style="width:234px;height: 54px;"><img src="images/logo/header_logo.png"></div>
                <div style="width:234px;height: 54px;"><img src="images/logo/KU.png"></div>
                <div style="width:234px;height: 54px;"><img src="images/logo/cj.png"></div>
                <div style="width:234px;height: 54px;"><img src="images/logo/diatv.png"></div>
                <div style="width:234px;height: 54px;"><img src="images/logo/dhgh.png"></div>
                <div style="width:234px;height: 54px;"><img src="images/logo/KTN.png"></div>
                <div style="width:234px;height: 54px;"><img src="images/logo/DreamLine.png"></div>
                <div style="width:234px;height: 54px;"><img src="images/logo/jonglo.png"></div>
                <div style="width:234px;height: 54px;"><img src="images/logo/TG.png"></div>
                <div style="width:234px;height: 54px;"><img src="images/logo/seoul.png"></div>
                <div style="width:234px;height: 54px;"><img src="images/logo/crowdy.png"></div>
                <div style="width:234px;height: 54px;"><img src="images/logo/nipa.png"></div>
                <div style="width:234px;height: 54px;"><img src="images/logo/kutv.png"></div>
            </div>
        </div>
    </div>
</section>



<!-- gallery section -->
<!--
<section id="gallery" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <h1 class="heading">Hot & New</h1>
                <hr>
            </div>

            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                <a href="https://www.youtube.com/watch?v=-2YIm8_osrA" data-lightbox-gallery="zenda-gallery" target="_blank" data-lity><img src="images/hotnew/main1.jpg" alt="gallery img"></a>
                <div>
                    <h3>연고대생이 응원하는 수능100일!</h3>
                    <span>#수능100일 #수능화이팅!</span>
                </div>
                <a href="https://youtu.be/F7TQHZthitE" data-lightbox-gallery="zenda-gallery" target="_blank" data-lity><img src="images/hotnew/main2.jpg" alt="gallery img"></a>
                <div>
                    <h3>연고대답! 무엇이든 물어보세요</h3>
                    <span>#연고대답 #Q&A #대답</span>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">

                <a href="https://www.youtube.com/watch?v=WXUyFWZ1rwg" data-lightbox-gallery="zenda-gallery" target="_blank" data-lity><img src="images/hotnew/main3.png" alt="gallery img"></a>
                <div>
                    <h3>드디어! 연고전/고연전에 가다!</h3>
                    <span>#연고전 #고연전 #고뽕 #연뽕</span>
                </div>

                <a href="https://www.youtube.com/watch?v=l3XS3U2CEVw" data-lightbox-gallery="zenda-gallery" target="_blank" data-lity><img src="images/hotnew/main8.jpg" alt="gallery img"></a>
                <div>
                    <h3>돌아온 연고대답!</h3>
                    <span>#진상 선배 #선배님 이름은 뺄게요!</span>
                </div>


            </div>
            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
                <a href="https://www.youtube.com/watch?v=rw6732xlUWQ&index=28&list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank" data-lity><img src="images/hotnew/main9.jpg" alt="gallery img"></a>
                <div>
                    <h3>연고티비 수 시 접 수!</h3>
                    <span>#수시의 #수시를 위한 #수시에 의한 #꿀팁영상</span>
                </div>
                <a href="https://www.youtube.com/watch?v=wHqt_ExeIa0" data-lightbox-gallery="zenda-gallery" target="_blank" data-lity><img src="images/hotnew/main10.png" alt="gallery img"></a>
                <div>
                    <h3>연고대답! 캠퍼스의 낭만? CC</h3>
                    <span>#CC #캠퍼스커플 #Campus #Couple</span>
                </div>
            </div>
        </div>
    </div>
</section>
 -->

<!--<section id="channel" class="parallax-section" style="background: #f0f0f0;">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-3 col-sm-4 wow fadeInUp" style="padding-top: 20px;">-->
                <!--<a href="https://www.youtube.com/channel/UCelPbnoAuzgRDFJAsJ4Du7A" target="_blank"><i class="fa fa-youtube fa-5x" aria-hidden="true"></i></a><br><br>-->
            <!--</div>-->
            <!--<div class="col-md-3 col-sm-4 wow fadeInUp" style="padding-top: 40px;">-->
                <!--<div class="col-md-3 col-sm-3">-->
                    <!--<div class="row">-->
                        <!--<div class="col s12 m7">-->
                            <!--<div>-->
                                <!--<h3 style="font-family:'BM JUA_OTF';vertical-align: middle; font-size : 60px; margin-top : 1px; margin-left:16px;">-->
                                    <!--<%=view_cnt %>-->
                                <!--</h3>-->
                                <!--<br>-->
                                <!--<h2>TOTAL VIEWS</h2>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3 col-sm-4 wow fadeInUp"  style="padding-top: 40px;">-->
                <!--<div class="col-md-3 col-sm-3">-->
                    <!--<div class="row">-->
                        <!--<div class="col s12 m7">-->
                            <!--<div>-->
                                <!--<h3 style="font-family:'BM JUA_OTF';vertical-align: middle; font-size : 60px; margin-top : 1px; margin-left:16px;">-->
                                    <!--<%=sub_cnt %>-->
                                <!--</h3>-->
                                <!--<br>-->
                                <!--<h2>TOTAL SUB</h2>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3 col-sm-4 wow fadeInUp"style="padding-top: 40px;">-->
                <!--<div class="col-md-3 col-sm-3">-->
                    <!--<div class="row">-->
                        <!--<div class="col s12 m7">-->
                            <!--<div>-->
                                <!--<h3 style="font-family:'BM JUA_OTF';vertical-align: middle; font-size : 60px; margin-top : 1px; margin-left:16px;">-->
                                    <!--<%=video_cnt %>-->
                                <!--</h3>-->
                                <!--<br>-->
                                <!--<h2>VIDEOS</h2>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
<!--</section>-->


<!-- contact section -->
<!--
<section id="contact" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
                <h1 class="heading">Contact Us</h1>
                <hr>
            </div>
            <div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
                <form action="/contact" method="post">
                    <div class="col-md-6 col-sm-6">
                        <input name="name" type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <textarea name="message" rows="8" class="form-control" id="message" placeholder="Message"></textarea>
                    </div>
                    <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
                        <input name="submit" type="submit" class="form-control" id="submit" value="Send" onclick="contact();">
                    </div>
                </form>
            </div>
            <div class="col-md-2 col-sm-1"></div>
        </div>
    </div>
</section>




<!-- JAVASCRIPT JS FILES -->

<% include ../public/common/footer %>
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<script src="test_js/nivo-lightbox.min.js"></script>
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>


<script type="text/javascript">
    var sub_cnt =  <%-JSON.stringify(sub_cnt)%>;
    var view_cnt =  <%-JSON.stringify(view_cnt)%>;
    var video_cnt =  <%-JSON.stringify(video_cnt)%>;
</script>

<!--<script type="text/javascript">-->
                <!--// 팝업을 띄우기, width 300, height 400, 스크롤바, 툴바, 메뉴바를 모두 숨기는 경우-->
            <!--window.open('/popup', 'popup01', 'left=300, top=100, width=300, height=400, scrollbars= 0, toolbar=0, menubar=no');-->
<!--</script>-->

<!-- light box js -->
<script src="lightbox/jquery.js"></script>
<script src="lightbox/lity.js"></script>
<script src="lightbox/prism.js"></script>

<!--<script src="test_js/jquery/dist/jquery.js"></script>-->
<script type="text/javascript">
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel(
                {items:4, loop:true, autoplay:true, autoplayTimeout : 2500, autoWidth : true,
                }
        );
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.slider2').bxSlider({
            minSlides: 1,
            maxSlides: 1,
            slideMargin: 0,
            auto : true,
            pause : 3000,
        });
    });
</script>



<script src="test_js/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="test_js/bxslider/jquery.bxslider.min.js"></script>
<script src="test_js/bxslider/jquery.bxslider.js"></script>

</body>
</html>