
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>지난 연고티비</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>
    <!--

    Template 2076 Zentro

    http://www.tooplate.com/view/2076-zentro


    -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nivo-lightbox.css">
    <link rel="stylesheet" href="css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>

<% include ../public/common/header %>



<!-- gallery section -->
<section id="gallery" class="parallax-section">
    <div class="container">
        <h3>지난 연고TV 프로그램을 다시 볼 수 있습니다.</h3>
    </div>
</section>

<section id="gallery" class="parallax-section" style="padding-top: 1px;">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <h1 class="heading">LIST</h1>
                <hr>
            </div>



            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <div class="card small">
                            <div class="card-content">
                                <!--<h1>4년</h1>-->
                                <a href="./4year" target="_blank"><img src="images/4year/4year_bg.png"></a>
                                <!--<p style="font-size: medium; font-weight: bold">당신의 후회없는 4년을 위한,<br>솔직담백 학과 이야기</p>-->
                                <p style="font-size: medium; font-weight: bold; color: #0b0b0b">4년 | 연고대 학과 이야기</p>
                                <p style="font-size: medium;">2016.07~09</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
            </div>

            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
            </div>
    </div>

</section>

<% include ../public/common/footer %>

<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<!--<script src="test_js/nivo-lightbox.min.js"></script>-->
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>

<script>
    function login_check(){
        alert("로그인이 필요합니다!");
        location.href="./login.php";
    }

    function contact(){
        alert("접수 완료되었습니다!");
    }
</script>

</body>
</html>