
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>지난 연고티비</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>
    <!--

    Template 2076 Zentro

    http://www.tooplate.com/view/2076-zentro


    -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nivo-lightbox.css">
    <link rel="stylesheet" href="css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>

<% include ../public/common/header %>



<!-- gallery section -->
<section id="gallery" class="parallax-section">
    <div class="container">
        <h3>연고TV 프로그램</h3>
    </div>
</section>

<section id="gallery" class="parallax-section" style="padding-top: 1px;">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <h1 class="heading" >LIST<hr></h1>
                <br>
                <br>
            </div>

            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s" style="padding-right: 40px;">
                <div class="row">
                    <div class="col s12 m7">
                        <div class="card small">
                            <div class="card-content">
                                <a href="./4year" target="_blank"><img src="images/4year/4year.png"></a>
                                <p style="font-size: medium; font-weight: bold; color: #0b0b0b">4년 | 연고대 학과 이야기</p>
                                <p style="font-size: medium;">2016.07~09</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m7">
                        <div class="card small">
                            <div class="card-content">
                                <a href="./reply" target="_blank"><img src="images/reply/reply.png"></a>
                                <p style="font-size: medium; font-weight: bold; color: #0b0b0b">연고대답 | 질문/대답 소통 컨텐츠</p>
                                <p style="font-size: medium;">2016.07~09</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s" style="padding-right: 40px" >
                <div class="row">
                    <div class="col s12 m7">
                        <div class="card small">
                            <div class="card-content">
                                <a href="./life" target="_blank"><img src="images/life/life.png"></a>
                                <p style="font-size: medium; font-weight: bold; color: #0b0b0b">연고라이프 | 연고대 캠퍼스 라이프</p>
                                <p style="font-size: medium;">2016.10~</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m7">
                        <div class="card small">
                            <div class="card-content">
                                <!--<h1>4년</h1>-->
                                <a href="./event" target="_blank"><img src="images/event/event.png"></a>
                                <p style="font-size: medium; font-weight: bold; color: #0b0b0b">이벤트 | 구독자들을 위한 이벤트</p>
                                <p style="font-size: medium;">2016.07~09</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s" style="padding-right: 40px">
                <div class="row">
                    <div class="col s12 m7">
                        <div class="card small">
                            <div class="card-content">
                                <!--<h1>4년</h1>-->
                                <a href="./teacher" target="_blank"><img src="images/teacher/teacher.png"></a>
                                <p style="font-size: medium; font-weight: bold; color: #0b0b0b">연고티처 | 교육 / 강의 컨텐츠</p>
                                <p style="font-size: medium;">2016.11~</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</section>

<% include ../public/common/footer %>

<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<!--<script src="test_js/nivo-lightbox.min.js"></script>-->
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>

<script>
    function login_check(){
        alert("로그인이 필요합니다!");
        location.href="./login.php";
    }

    function contact(){
        alert("접수 완료되었습니다!");
    }
</script>

</body>
</html>