<!DOCTYPE html>
<html lang="en" style="overflow: hidden">
<head>
    <meta charset="UTF-8">
    <title>dfdfdf</title>

    <style>
        html, body { overflow: hidden; }
    </style>

<!--<script type="text/javascript">-->
    <!--function setCookie (name, value, expiredays){-->
        <!--var todayDate = new Date();-->
        <!--todayDate.setDate(todayDate.getDate() + expiredays);-->
        <!--document.cookie = name + "=" + excape(value)+ "; path=/; expires=" + todayDate.toGMTString() +";"-->
    <!--}-->

    <!--function closeWin(){-->
        <!--if(document.forms[0].popup.checked){-->
            <!--setCookie("popup","done",1);-->
        <!--}-->
        <!--self.close();-->
    <!--}-->
<!--</script>-->


</head>
<body style="overflow: hidden">
<!--adfasdfadsf-->

<!--<form name="form">-->
    <!--<input type="checkbos" id="popup" name="popup" value="">-->
    <!--다음 접속시 이 창을 열지 않음-->
    <!--<a href="javascript:onclick=closeWin()">닫기</a>-->

<!--</form>-->
</body>
</html>