<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>연고대답</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>
    <!--

    Template 2076 Zentro

    http://www.tooplate.com/view/2076-zentro


    -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/GiBeom.css">


    <link rel="stylesheet" href="css/contents.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>

<% include ../public/common/header %>

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative; top:51px">

    <!--페이지-->
    <ol class="carousel-indicators"></ol>
    <!--페이지-->

    <div class="carousel-inner">
        <!--슬라이드1-->
        <div class="item active">
            <img src="images/4year/4year_bg2.jpg" style="width:100%; height:auto" alt="First slide">
            <div class="container">
                <div class="carousel-caption" style="height:auto">
                    <!--<h1>가치 있는 CONTENTS, 꿈 꾸는 내일!</h1>-->
                    <!--<p> 연고 TV </p>-->
                </div>
            </div>
        </div>
        <!--슬라이드1-->
    </div>
</div>

<section id="gallery" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center" style="margin-left: 0px;">
                <h3 style="font-family:'BM JUA_OTF'; text-align: left; vertical-align: middle; font-size : 70px; width:100%; padding-top: 10px; font-weight: normal;">
                    <br>연고대답
                    <span style="font-size:20px; font-family:'BM JUA_OTF'; line-height: initial;">무엇이든 물어보세요</span>
                </h3>
            </div>

            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <h1 class="heading">Video</h1>
                <hr>
            </div>

            <div class="col-md-3 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://www.youtube.com/watch?v=F7TQHZthitE" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/reply/reply_1.png" alt="gallery img"></a>
                        <div>
                            <h3>연세대학교, 고려대학교</h3>
                            <span>#1 &nbsp; #연대 #고대 #시작</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://www.youtube.com/watch?v=-0OzAs4jtt0" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/reply/reply_1.png" alt="gallery img"></a>
                        <div>
                            <h3>신촌과 안암의 장단점 비교 분석</h3>
                            <span>#2 &nbsp; #신촌 #연세로 #안암 #참살이길</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://www.youtube.com/watch?v=l3XS3U2CEVw" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/reply/reply_3.png" alt="gallery img"></a>
                        <div>
                            <h3>학교에서 진상유형</h3>
                            <span>#3 &nbsp;#상철선배 #선배님이름은 #뺄게요</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <a href="https://www.youtube.com/watch?v=Vwep7hcYNwM" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/reply/reply_4.png" alt="gallery img"></a>
                        <div>
                            <h3>다시 고3 때로 돌아간다면?</h3>
                            <span>#4 &nbsp; #백투더고3 #공부하자</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>


<!-- copyright section -->
<section id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3>연고티비</h3>
                <p style="color: #5bb6ff;">Copyright © Ki Beom Hong &  Ji Hyun Kim
                    | Design: Seun Hyun Kim </p>
                <!--| Design: <a rel="nofollow" href="http://www.tooplate.com" target="_parent">Tooplate</a></p>-->
            </div>

        </div>
    </div>
</section>

<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<!--<script src="test_js/nivo-lightbox.min.js"></script>-->
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>

<script>
    function login_check(){
        alert("로그인이 필요합니다!");
        location.href="./login.php";
    }
</script>

</body>
</html>