
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>People</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>
    <!--

    Template 2076 Zentro

    http://www.tooplate.com/view/2076-zentro


    -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nivo-lightbox.css">
    <link rel="stylesheet" href="css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/GiBeom.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

</head>
<body>

<% include ../public/common/header %>





<!-- gallery section -->
<section id="staff" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <h1 class="heading">Member</h1>
                <hr>
            </div>

            <div class="col-md-3 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <img src="../images/profile/p1.png" alt="gallery img">
                        <div>
                            <h3>연고투어 연세대편</h3>
                            <span>#송도 &nbsp; #CC</span>
                        </div>
                    </div>
                    <div class="col s12 m7">
                        <img src="../images/profile/p1.png" alt="gallery img">
                        <div>
                            <h3>연고투어 연세대편</h3>
                            <span>#송도 &nbsp; #CC</span>
                        </div>
                    </div>
                    <div class="col s12 m7">
                        <img src="../images/profile/p1.png" alt="gallery img">
                        <div>
                            <h3>연고투어 연세대편</h3>
                            <span>#송도 &nbsp; #CC</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <img src="../images/profile/p1.png" alt="gallery img">
                        <div>
                            <h3>연고투어 연세대편</h3>
                            <span>#송도 &nbsp; #CC</span>
                        </div>
                    </div>
                    <div class="col s12 m7">
                        <img src="../images/profile/p1.png" alt="gallery img">
                        <div>
                            <h3>연고투어 연세대편</h3>
                            <span>#송도 &nbsp; #CC</span>
                        </div>
                    </div>
                    <div class="col s12 m7">
                        <img src="../images/profile/p1.png" alt="gallery img">
                        <div>
                            <h3>연고투어 연세대편</h3>
                            <span>#송도 &nbsp; #CC</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <img src="../images/profile/p1.png" alt="gallery img">
                        <div>
                            <h3>연고투어 연세대편</h3>
                            <span>#송도 &nbsp; #CC</span>
                        </div>
                    </div>
                    <div class="col s12 m7">
                        <img src="../images/profile/p1.png" alt="gallery img">
                        <div>
                            <h3>연고투어 연세대편</h3>
                            <span>#송도 &nbsp; #CC</span>
                        </div>
                    </div>
                    <div class="col s12 m7">
                        <img src="../images/profile/p1.png" alt="gallery img">
                        <div>
                            <h3>연고투어 연세대편</h3>
                            <span>#송도 &nbsp; #CC</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col s12 m7">
                        <img src="../images/profile/p1.png" alt="gallery img">
                        <div>
                            <h3>연고투어 연세대편</h3>
                            <span>#송도 &nbsp; #CC</span>
                        </div>
                    </div>
                    <div class="col s12 m7">
                        <img src="../images/profile/p1.png" alt="gallery img">
                        <div>
                            <h3>연고투어 연세대편</h3>
                            <span>#송도 &nbsp; #CC</span>
                        </div>
                    </div>
                    <div class="col s12 m7">
                        <img src="../images/profile/p1.png" alt="gallery img">
                        <div>
                            <h3>연고투어 연세대편</h3>
                            <span>#송도 &nbsp; #CC</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<% include ../public/common/footer %>

<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<!--<script src="test_js/nivo-lightbox.min.js"></script>-->
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>

<script>
    function login_check(){
        alert("로그인이 필요합니다!");
        location.href="./login.php";
    }

    function contact(){
        alert("접수 완료되었습니다!");
    }
</script>

</body>
</html>