
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Staff</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>
    <!--

    Template 2076 Zentro

    http://www.tooplate.com/view/2076-zentro


    -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nivo-lightbox.css">
    <link rel="stylesheet" href="css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/GiBeom.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

</head>
<body>

<% include ../public/common/header %>





<!-- gallery section -->
<section id="gallery" class="parallax-section">
    <div class="container">
        <div class="row" style="padding-left : 25px;">
            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <h1 class="heading">STAFF</h1>
                <hr>
            </div>


            </div>
            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile1.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px; width: 100px; height: 117.27px;" src="../images/profile1.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>정 재 원</h3>
                        <h3><span>대표</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            연세대학교 정보산업공학과 14학번 재학<br>
                            <!--WPP  그룹--> 디지털 마케팅 에이전시 WUNDERMAN AE팀 인턴 근무<br>
                            Ernst&Young 한영 어드바이저리 PI-ITA팀 인턴 근무<br>
                            연세대학교&고려대학교 연합 창업학회 Insiders 10기<br>
                            <h4>"동요하지 말자"</h4>
                        </div>
                    </figcaption>
                </figure>

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile11.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px; width: 100px; height: 117.27px;" src="../images/profile11.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>홍 기 범</h3>
                        <h3><span>IT팀 프로개발자</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            연세대학교 컴퓨터과학과 4학년 재학<br>
                            사진 플랫폼 '리플릿' 개발 경력<br>
                            GS 칼텍스 IT 기획팀 인턴 근무<br>
                            <h4>"코딩하자"</h4>
                        </div>
                    </figcaption>
                </figure>

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile8.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px; width: 100px; height: 117.27px;" src="../images/profile8.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>임 성 호</h3>
                        <h3><span>PD</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            연세대학교 정치외교학과 3학년 재학<br>
                            <!--2014" 연세대학교 정치외교학과 기장<br>-->
                            <!--2014" 연세대학교 사회과학대학 노래패 "늘푸른소리" 보컬<br>-->
                            2015" 광복70주년 2030미래창조 순례단<br>
                            2015" KB국민은행 경제금융교육봉사단 "Polaris" 4기 대표<br>
                            <!--2016" 연세대학교 치킨동아리 "Phoenix" 부회장<br>-->
                            2016" LG Hausys 독도사랑청년캠프 7기<br>
                            <h4>"아재는 죽지 않아요"</h4>
                        </div>
                    </figcaption>
                </figure>

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile5.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px; width: 100px; height: 117.27px;" src="../images/profile5.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>김 지 현</h3>
                        <h3><span>IT팀 하급개발자</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            연세대학교 정보산업공학과 14학번 재학<br>
                            2016" WISET 드림보트4기 멘토<br>
                            2016" 연세대 국제캠퍼스 언더우드 하우스 RA<br>
                            <h4>"뀨!"</h4>
                        </div>
                    </figcaption>
                </figure>

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile12.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px; width: 100px; height: 117.27px;" src="../images/profile12.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>문 현 승</h3>
                        <h3><span>IT팀 데이터분석가</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            2014~2016" FIELD Staff<br>
                            2015" YINC 심사위원<br>
                            2016" Google Analytics 수료<br>
                            2016" 연세대 '프렛' 학회장<br>
                            <h4>"몽실몽실"</h4>
                        </div>
                    </figcaption>
                </figure>

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile13.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px; width: 100px; height: 117.27px;" src="../images/profile13.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>김 승 현</h3>
                        <h3><span>프로 디자이너</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            연세대학교 언론홍보영상학부 13학번 재학<br>
                            언론홍보영상학부 광고동아리 생사여부 단원<br>
                            <br>
                            <br>
                            <h4>"각종 포토샵, 파워포인트 노예"<br></h4>
                        </div>
                    </figcaption>
                </figure>

            </div>

            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">

                <figure class="snip1344"><img style="padding-bottom: 0px;" src="../images/profile2.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px;" src="../images/profile2.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>윤 희 권</h3>
                        <h3><span>MC 여니</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            연세대학교 정보산업공학과 13학번 재학<br>
                            2014" 공과대학 학생회 선본원, 집행 부원<br>
                            연세대 'YIRB' 12기 국원<br>
                            연세대 라디오 '고상하네' 진행(DJ희파니)<br>
                            <h4>"도망쳐서 도착한 곳에 천국은 없다"<br></h4>
                        </div>
                    </figcaption>
                </figure>

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile6.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px; width: 100px; height: 117.27px;" src="../images/profile6.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>김 서 현</h3>
                        <h3><span>PD</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            연세대학교 정보산업공학과 2학년 재학<br>
                            <!--2015" 연세대학교 정보산업공학과 학생회 부원<br>-->
                            2015" 연세대 활천제기획단 재무팀<br>
                            2016" 연세대 정보산업공학과 학생회 복지부장<br>
                            <!--2016" 연세대학교 정보산업공학과 밴드 "포크레인" 부학회장<br>-->
                            2016" 연세대 영상제작동아리 "몽상가들" 부원<br>
                            <h4>"행복하자~"<br></h4>
                        </div>
                    </figcaption>
                </figure>

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile9.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px;" src="../images/profile9.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>염 정 운</h3>
                        <h3><span>총괄팀 일꾼</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            연세대학교 정보산업공학과 15학번 재학<br>
                            연세대 정보산업공학과 학생회 "산뜻" 홍보부장<br>
                            연세대 공과대 학생회  "Echo" 선거본부 지원국<br>
                            연세대 활천제 기획단 홍보팀<br>
                            <h4>"패기로운 술쟁이"<br></h4>
                        </div>
                    </figcaption>
                </figure>

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile15.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px; width: 100px; height: 117.27px;" src="../images/profile15.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>전 하 은</h3>
                        <h3><span>PD</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            고려대학교 국어국문학과 14학번 재학<br>
                            KUTV<br>
                            고려대학교 국어국문학과 홍보국 국원<br>
                            <h4>"연고티비 화이팅!"<br></h4>
                        </div>
                    </figcaption>
                </figure>

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile17.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px; width: 100px; height: 117.27px; " src="../images/profile17.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>김 채 영</h3>
                        <h3><span>홍보팀</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            고려대학교 식품자원경제학과 15학번 재학<br>
                        </div>
                    </figcaption>
                </figure>

            </div>

            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile4.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px; width: 100px; height: 117.27px;" src="../images/profile4.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>정 현 지</h3>
                        <h3><span>MC 고니 / CCO</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            고려대학교 미디어학부 14학번 재학<br>
                            <!--광고PR학회 학회원<br>-->
                            2015" 고려대 미디어학과 학생회 문화 차장<br>
                            <!--고려대학교 미디어학부 밴드 distortion 드럼<br>-->
                            신방 네트워크 comm-be 학술 팀장<br>
                            KUTV 새터 총괄 기획편성 부장<br>
                            중앙광고 동아리 팝콘 부회장<br>
                            <h4>"한건 많은데... 한게 없다....."<br></h4>
                        </div>
                    </figcaption>
                </figure>

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile3.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px; width: 100px; height: 117.27px;" src="../images/profile3.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>김 경 민</h3>
                        <h3><span>제작팀 대장</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            고려대학교 미디어학부 14학번 재학<br>
                            2015" 고려대 TV 방송국 KTN 제35대 국장<br>
                            <h4>"연고....영고...영원한고통..."<br></h4>
                        </div>
                    </figcaption>
                </figure>

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile7.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px; width: 100px; height: 117.27px;" src="../images/profile7.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>김 시 원</h3>
                        <h3><span>PD</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            고려대학교 미디어학부 14학번 재학<br>
                            <!--2014" 고려대 미디어학부 제31대 학생회 부원<br>-->
                            2015" 고려대 미디어학부 <!--제32대-->학생회 문화복지국장<br>
                            2015" 고려대 TV방송국 KTN 제36대 부국장<br>
                            2015" 고려대 미디어학부 'HUGE' 취재부장<br>
                            <h4>"쀼뀨쀼뀨영고티비~❤️"<br></h4>
                        </div>
                    </figcaption>
                </figure>

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile10.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px; width: 100px; height: 117.27px;" src="../images/profile10.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>윤 재 희</h3>
                        <h3><span>PD</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            고려대학교 미디어학부 14학번 재학<br>
                            2015" 대학농구리그 고려대팀 서포터즈 온라인팀장<br>
                            2016" 고려대 교육TV 방송국 KUTV 부국장<br>
                            <h4>"왜 때문에 계속 영상 노예?"<br></h4>
                        </div>
                    </figcaption>
                </figure>

                <figure class="snip1344"><img style="padding-bottom: 0px; height:371.69px" src="../images/profile16.png" alt="profile-sample1" class="background"/><img style="padding-bottom: 0px; width: 100px; height: 117.27px;" src="../images/profile16.png" alt="profile-sample1" class="profile"/>
                    <figcaption>
                        <h3>남 유 정</h3>
                        <h3><span>홍보팀</span></h3>
                    </figcaption>
                    <figcaption>
                        <div style="top:25px; font-size:12.4px; padding-top:20px; text-align: left;">
                            수고했어요ㅠ<br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </figcaption>
                </figure>

            </div>
        </div>
    </div>
</section>


<% include ../public/common/footer %>

<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<!--<script src="test_js/nivo-lightbox.min.js"></script>-->
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>

<script>
    function login_check(){
        alert("로그인이 필요합니다!");
        location.href="./login.php";
    }

    function contact(){
        alert("접수 완료되었습니다!");
    }
</script>

</body>
</html>