
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>연고티비 _ 연고티쳐</title>


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../public/common/meta_data %>


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="css/nivo-lightbox.css">-->
    <!--<link rel="stylesheet" href="css/nivo_themes/default/default.css">-->
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="css/GiBeom.css">-->
    <link rel="stylesheet" href="css/contents.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>

<% include ../public/common/header %>






<!--<section id="home" style="background: url('images/4year/4year_bg.png') 50% 0 repeat-y fixed;">-->
<!--<div class="container">-->
<!--</div>-->
<!--</section>-->

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative; top:51px">

    <!--페이지-->
    <ol class="carousel-indicators">
        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    </ol>
    <!--페이지-->

    <div class="carousel-inner">
        <!--슬라이드1-->
        <!--<div class="item active">-->
        <!--<img src="images/4year/4year_bg2.jpg" style="width:100%; height:auto" alt="First slide">-->
        <!--<div class="container">-->
        <!--<div class="carousel-caption" style="height:auto">-->
        <!--&lt;!&ndash;<h1>가치 있는 CONTENTS, 꿈 꾸는 내일!</h1>&ndash;&gt;-->
        <!--&lt;!&ndash;<p> 연고 TV </p>&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--슬라이드1-->
    </div>
</div>

<section id="gallery" class="parallax-section">
    <div class="container">
        <div>
            <h1 style="font-family:'Nanum Gothic';text-align: left; vertical-align: middle; font-size : 30px; margin-top : 1px; margin-left:16px;">
                [ 연고티처 ]
            </h1>
            <h4 style="color: grey; text-align: left; padding-left: 20px" >
                '연고티처'는 연고티비의 교육/강의 컨텐츠입니다. 연고대생들만의 공부법이나 공부에 대한 여러가지<br>
                조언들을 강의의 형식으로 전달합니다. 하지만 강의 연구는 연고티비의 핵심 경쟁력이 아니기 때문에<br>
                연고티처는 협력을 통해 진행됩니다. 고려대학교와 연세대학교 재학생들 중 “대한민국 수험사전“이라는<br>
                수험 서적을 발간한 저자들을 초빙하여 강의를 진행하며, 연고티비는 이를 컨텐츠화 하는 것에 집중하고<br>
                있습니다. 향후 연고티처는 교육업체의 광고를 수주하기에 가장 적합한 컨텐츠가 될 것으로 예상됩니다.
            </h4>

        </div>

        <!--<div class="row">-->
        <!--<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">-->
        <!--<img src="images/4year/4y_crowdy.png" style="padding-left: 0px; align-items: center;">-->
        <!--</div>-->
        <!--</div>-->
        <div>
            <br>
            <br>
            <h1 style="font-family:'Nanum Gothic';text-align: left; vertical-align: middle; font-size : 20px; margin-top : 1px; margin-left:16px;">
                연고티비 추천 영상
            </h1>
        </div>

        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://www.youtube.com/watch?v=716zTAqUwhA&index=20&list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/teacher/1.png" alt="gallery img"></a>
                    <div>
                        <h3>면접고민팡팡</h3>
                        <span>#1 &nbsp; #교수님 앞에서도 당당하게</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://youtu.be/0TidqJHixV0?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/teacher/2.png" alt="gallery img"></a>
                    <div>
                        <h3>재수할까요? 말까요?</h3>
                        <span>#2 &nbsp; #수능 보신 분들 여기 보세요</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://youtu.be/hBVVdvYrC8w?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/teacher/4.png" alt="gallery img"></a>
                    <div>
                        <h3>영어공부 어떻게 하나요?</h3>
                        <span>#3 &nbsp; #연고티쳐가 알려드려요!</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col s12 m7">
                    <a href="https://youtu.be/Nzzat2bSk8g?list=PLTIYaupvmVU7MKb9tbr2B4fDP3g4tBcnT" data-lightbox-gallery="zenda-gallery" target="_blank"><img src="images/teacher/5.png" alt="gallery img"></a>
                    <div>
                        <h3>수학 1등급 어떻게 맞나요?</h3>
                        <sp과an>#5 &nbsp; #1등급 공부법</sp과an>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>


<% include ../public/common/footer %>


<!-- JAVASCRIPT JS FILES -->
<script src="test_js/jquery.js"></script>
<script src="test_js/bootstrap.min.js"></script>
<script src="test_js/jquery.parallax.js"></script>
<script src="test_js/smoothscroll.js"></script>
<!--<script src="test_js/nivo-lightbox.min.js"></script>-->
<script src="test_js/wow.min.js"></script>
<script src="test_js/custom.js"></script>

<script>
    function login_check(){
        alert("로그인이 필요합니다!");
        location.href="./login.php";
    }
</script>

</body>
</html>